langchain
python-dotenv
ipykernel
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
sentence-transformers
langchain_huggingface
streamlit
langchain_groq
uvicorn
langserve
numexpr
huggingface_hub